/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} */

@import url("https://fonts.googleapis.com/css?family=Share+Tech");
@import url("https://fonts.googleapis.com/css?family=Share+Tech|Share+Tech+Mono");

input[type="checkbox"] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: "Share Tech Mono", monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: lime;
  background: black;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-in-out;
}

.lbl-toggle:hover {
  color: limegreen;
}

.lbl-toggle::before {
  content: "";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.25s ease-out;
}

.collapsible-content .content.inner {
  background: limegreen;
  border-bottom: 1px solid rgba(250, 224, 66, 0.45);

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
  font-family: "Share Tech Mono", monospace;
  color: limegreen;
  font-size: 1.5rem;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  color: limegreen;
  font-size: 1.5rem;

  position: absolute;
  background: black;
  width: 100%;
  border-top: 1px solid limegreen;
  padding-bottom: 2px;
  border-bottom: 1px solid limegreen;

  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#leaveSandbox {
  float: left;
  margin: 13px;
  cursor: pointer;
  border: black;
  background: black;
  color: limegreen;
  border-radius: 14px;
  padding: 10px;
  font-family: "Share Tech Mono", monospace;
}

#leaveSandbox:hover {
  color: black;
  background: grey;
}

.logbtn,
.loggedOutBtn {
  float: left;
  border-radius: 10px;
  padding: 5px;
  background: black;
  color: lime;
  font-family: "Share Tech Mono", monospace;
  cursor: pointer;
}
