.exploreOuter {
  background-color: black;
}
.exploreContainer {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, rgb(0, 0, 0)-69%, rgb(0, 216, 255));
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
#bottomDiv {
  background: none;
  /* box-shadow: -10px -87px 197px 3px rgba(0, 0, 0, 0.75); */
}
.exploreSubOne {
  height: 25vh;
  width: 100vw;
  background: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25),
    0 10px 10px 0 rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}
#geauxfurTextLogo {
  height: 15%;
  width: 40%;
}
.exploreContainerTwo {
  height: 150vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  z-index: 0;
}

.zero {
  position: fixed;
  height: 100vh;
  width: 100vw;
  box-shadow: 0px 0px 0px 0px inset black;
  z-index: 3;
  transition: 0.2s;
}

.twenty {
  position: fixed;
  height: 100vh;
  width: 100vw;
  box-shadow: 0px -100px 99px 48px inset black;
  z-index: 3;
  transition: 0.2s;
}

.forty {
  position: fixed;
  height: 100vh;
  width: 100vw;
  box-shadow: 0px -89px 99px 95px inset black;
  z-index: 3;
  transition: 1s;
}
.sixty {
  position: fixed;
  height: 100vh;
  width: 100vw;
  box-shadow: 0px 77px 135px 140px inset black;
  z-index: 23;
  transition: 0.2s;
}

.eighty {
  position: fixed;
  height: 100vh;
  width: 100vw;
  box-shadow: 0px 14px 135px 113px inset black;
  z-index: 3;
  transition: 0.2s;
}

.textBar {
  height: 4px;
  width: 13%;
  position: fixed;
  top: 48%;
  left: 20%;
  z-index: 1;
  background: linear-gradient(45deg, rgb(212, 71, 200)-37%, rgb(0, 216, 255));
}
.floaterContainer {
  height: 150vh;
  width: 100vw;
  background: rgb(0, 0, 0);
}
.floaterContainer p {
  position: fixed;
  top: 50%;
  right: 40%;
  z-index: 1;
  font-size: 25px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  width: 40%;
  font-family: "Scada", sans-serif;
}
.floaterOne {
  height: 20vh;
  width: 20vw;
  position: relative;
  top: 35%;
  right: -50%;
  background: linear-gradient(45deg, rgb(212, 71, 200)-37%, rgb(0, 216, 255));
  z-index: 1;
}
.floaterTwo {
  left: 55%;
  height: 20vh;
  width: 20vw;
  position: relative;
  top: 18%;
  background: linear-gradient(45deg, rgb(212, 71, 200)-37%, rgb(0, 216, 255));
  z-index: 4;
  box-shadow: 0px 0px 41px;
}
.gif {
  position: sticky;
  height: 20%;
  width: auto;
  top: -27%;
  right: 77%;
  border: 1px solid rgb(0, 0, 0);
  z-index: 0;
}
.loginContainer {
  border-radius: 8px;
  /* border: 4px solid rgb(255, 255, 255); */
  /* box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26), 2px 93px 52px -18px inset rgb(0,216,255); */
  /* background-image: linear-gradient( 223deg,rgb(100, 88, 83) , rgb(202, 216, 222) 70% ); */
  /* background-color: rgb(255, 255, 255); */
  width: 30vw;
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.loginButton {
  height: 10vh;
  width: 15vw;
  background: linear-gradient(45deg, rgb(212, 71, 200)-37%, rgb(0, 216, 255));
  border: 1px solid rgba(212, 71, 200, 0.4);
  cursor: pointer;
  font-size: 30px;
  border-radius: 20rem;
  font-family: "Scada", sans-serif;
  color: rgb(255, 255, 255);
  /* text-shadow: 2px 2px #000000; */
  box-shadow: 8px 6px 28px -3px black, -5px -13px 18px -11px inset black;
  transition: 0.6s;
  z-index: 5;
  overflow: hidden;
  outline: none;
}

.imageContainer {
  height: 70%;
  width: 230px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 3px 3px 1px black;
  border-radius: 17rem;
  overflow: hidden;
}
.devpic {
  width: 100%;
  height: auto;
  overflow: hidden;
}
